html{
    font-size: 1em;
}


body{
    background-color: white;
    color: #262626;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    line-height: 1.5;
}


/*-- Golden ration font sizes --*/
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 6.854em;
    margin-top: 0;
}

h2 {font-size: 4.236em;}

h3 {
    font-family: 'Muli', sans-serif;
    font-size: 2.618em;
}


h4 {
    font-family: 'Muli', sans-serif;
    font-size: 1.618em;
    border-top: 1px #999999 solid;
    padding-top: 0.5em;
}


small, .font_small {font-size: 0.618em;}


.container{
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0%;
}    


.headerContainer{
    padding-top: 2%;
}


#logoContainer{
    padding: 0;
    padding-top: 0;
}


#headerLogo{
    padding: 0;
    padding-bottom: 0.75em;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
}


.navContainer{
    padding: 0;
}


.navbar-header{
    padding-top: 6.5%;
}


.nav{
    background-color: white;
    padding: 0;
}



.nav li{
    font-family: 'Futura PT', sans-serif;
    text-align: center;
    font-size: 1.10em;
    width: 25%;
    text-align: center;
    float: left; 
    padding-top: 2%;
}

.nav li a{
    background-color: white;
    color: #333;
    font-size: 1em;
    margin: 0.5em;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;    
    width: 100%;
}


.nav li a:hover{
    background-color: white;
    color: mediumseagreen;
    width: 100%;
}


#headerImageWrapper{
    overflow: hidden;
}

#backgroundImage{
    height: auto;
    width: 100%;
}

#pageTitleRow{
    padding-top: 2%;
    padding-left: 1.85%;
}

#pageTitleRow h3{
        margin-bottom: 2%;;
}

.workItem{
    padding-bottom: 1.5em;
}

.workItem img{
    height: auto;
    width: 100%;
    padding-top: 8%;
    padding-left: 4%
}

#prevWork1_textContainer{
    padding-top: 0.5%;
    padding-right: 2%;
}




#prevWork2_textContainer{
    padding-top: 2%;
    padding-left: 5%;
}


#prevWork2_imgContainer{
    
}

#prevWork2_imgContainer img{
    padding-left: 0;
    padding-right: 4%;
}


#prevWork3_textContainer{
    padding-top: 9%;
    padding-right: 2%;
}



p{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1em;
    padding-bottom: 8%;
    letter-spacing: 0.6px;
    line-height: 1.75em;

}
